<div class="modal-content">

    <div class="modal-header">
    <h3>Edit Sighting Identification</h3>
    </div>
    <div class="modal-body">
        <form id="xForm" method="post" action="/sighting/update">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" id="unknownIdentification" name="unknownIdentification" class="btn-check">
                    <label for="unknownIdentification" class="btn btn-outline-danger btn-sm">Unknown</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="identificationSearch" class="col-sm-3 my-2 col-form-label">Search Bird Species: </label>
                <div class="col-sm-7 my-2">
                    <input type="text" id="identificationSearch" name="identificationSearch" class="form-control mb2">
                </div>
                <div class="col-sm-2 my-2" >
                    <button type="button" id="findIdentifications" name="findIdentifications" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i>  Find</button>
                </div>
            </div>

            <div id="identificationInputs" class="form-group row" style="visibility: hidden">
                <label for="identification" id="identificationLabel" class="col-md-3 my-2 col-form-label">Select Identification:</label>
                <div class="col-md-5 my-2">
                    <select name="identification" class="form-select" id="identification"></select>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="confirmIdentification" name="confirmIdentification" class="btn-check">
                    <label for="confirmIdentification" class="btn btn-outline-success btn-md my-2">Confirmed?</label>
                </div>
                <div id="identificationHiddenFields" style="display:none">
                    <input type="hidden" name="identificationURI" id="identificationURI" value="<%= sighting.identificationURI%>">
                    <input type="hidden" name="identificationName" id="identificationName" value="<%= sighting.identificationName%>">
                    <input type="hidden" name="confirmation" id="confirmation" value="<%= sighting.confirmation%>">
                    <input type="hidden" name="id" id="sightingId" value="<%= sighting._id %>">
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-sm">
        </form>

    </div>
    <script src="/javascripts/sighting/identification.js" defer></script>
    <script src="/javascripts/sighting/edit_helper.js" defer></script>
</div>


