<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <%for(let sighting of sightings){%>
        <li>
          <span><%= sighting.userID %></span>
          <span><%= sighting.identificationId %></span>
          <span><%= sighting.timeAsUTC() %></span>
          <a href="show/<%=sighting.id%>"> show sighting </a>
        </li>
      <%}%>
    </ul>
    <a href="new"> add new </a>
  </body>
</html>
