<div id="sightingsCatalogue">
    <% for(let sighting of sightings){ %>
        <div sighting-post-id="<%= sighting._id %>" id="sightingBody" class="d-flex">
            <div><%= sighting.userId %></div>
            <div><%= sighting.identificationId %></div>
            <div><%= sighting.timeAsUTC() %></div>
        </div>
    <% } %>
</div>
<a href="new"> add new </a>
<script src="../javascripts/temp.js"></script>

