<form id="xForm" method="post" action="new" enctype="multipart/form-data">
    <h4>Sighting Identification</h4>
    <label for="unknownIdentification">If unknown, please tick:</label>
    <input type="checkbox" id="unknownIdentification" name="unknownIdentification">
    <br>
    <label for="identificationSearch">Search identification by name: </label>
    <input type="text" id="identificationSearch" name="identificationSearch">


    <button type="button" id="findIdentifications" name="findIdentifications">Find</button><br>

    <div id="identificationInputs" style="visibility: hidden">
        <label for="identification" id="identificationLabel">Select Identification</label>
        <select name="identification" id="identification"></select>
        <label for="confirmIdentification">Confirmed?</label>
        <input type="checkbox" id="confirmIdentification" name="confirmIdentification">
    </div>

    <h4>Sighting Information</h4>
    <label for="description">Description: </label>
    <input type="text" id="description" name="description" required> <br>

    <label for="dateTime">Date & Time: </label>
    <input type="datetime-local" id="dateTime" name="dateTime" required> <br>

    <label for="location">Location: </label>
    <input type="button" id="locationButton" value="Get current location">
    <div id="loader" class="loader hidden"></div>
    <input type="text" id="location" name="location"> <br>

    <label for="sightingImage">Image: </label>
    <div>
        <input type="file" id="sightingImage" name="sightingImage" accept="image/*">
        <br>Or paste url:<br>
        <input type="url" id="sightingImage" name="sightingImage">
    </div>
    <br>


    <input type="submit">
</form>
<a href="index"> Cancel </a>
<script src="javascripts/form.js" defer></script>
<script src="javascripts/sighting/identification.js" defer></script>

