<form id="xForm" method="post" action="new" enctype="multipart/form-data">
    <div class="sectionWrapper">
        <div class="inputTitle">
            Sighting Identification
        </div>

        <div class="inputWrapper">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="checkbox" id="unknownIdentification" name="unknownIdentification" class="btn-check">
                    <label for="unknownIdentification" class="btn btn-outline-danger btn-sm">Unknown</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="identificationSearch" class="col-sm-3 my-2 col-form-label">Search Bird Species: </label>
                <div class="col-sm-7 my-2">
                    <input type="text" id="identificationSearch" name="identificationSearch" class="form-control mb2">
                </div>
                <div class="col-sm-2 my-2" >
                    <button type="button" id="findIdentifications" name="findIdentifications" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>  Find</button>
                </div>
            </div>

            <div id="identificationInputs" class="form-group row" style="visibility: hidden">
                <label for="identification" id="identificationLabel" class="col-md-3 my-2 col-form-label">Select Identification:</label>
                <div class="col-md-5 my-2">
                    <select name="identification" class="form-select" id="identification"></select>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="confirmIdentification" name="confirmIdentification" class="btn-check">
                    <label for="confirmIdentification" class="btn btn-outline-success btn-md my-2">Confirmed?</label>
                </div>
                <div id="identificationHiddenFields" style="display:none">
                    <input type="hidden" name="identificationURI" id="identificationURI" value="unknown">
                    <input type="hidden" name="identificationName" id="identificationName" value="unknown">
                    <input type="hidden" name="confirmation" id="confirmation" value="unknown">
                </div>
            </div>
        </div>

    </div>


    <div class="sectionWrapper">
        <div class="inputTitle">
            Sighting Information
        </div>

        <div class="inputWrapper">
            <div class="form-group row my-2">
                <label for="description" class="col-sm-2 col-form-label">Description: </label>
                <div class="col-sm-10">
                    <textarea id="description" name="description" class="form-control" required></textarea>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="dateTime" class="col-sm-2 col-form-label">Date & Time: </label>
                <div class="col-sm-4">
                    <input type="datetime-local" id="dateTime" class="form-control" name="dateTime" required> <br>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="dateTime" class="col-sm-2 col-form-label">Location: </label>
                <div class="col-sm-3">
                    <input type="button" id="locationButton" class="btn btn-success" value="Get current location">

                </div>
                <div class="col-sm-1">
                    <div id="loader" class="loader hidden"></div>
                </div>
                <div class="col-sm-4">
                    <input type="text" id="location" class="form-control" name="location" required>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="sightingImage" class="col-sm-2 col-form-label my-3">Image: </label>
                <div class="col-sm-6">
                    <div class="row my-3    ">
                        <input type="file" id="sightingImage" name="sightingImage" accept="image/*" class="form-control">
                    </div>
                    <label for="sightingImage" class="form-label">Or Enter an image URL</label>
                    <div class="row">
                        <input type="url" id="sightingImage" name="sightingImage" class="form-control" placeholder="Enter image URL">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <input id="submitBtn" type="submit" class="btn btn-primary">
</form>

<a href="index">
    <button class="btn btn-danger btn-md my-2">Cancel</button>
</a>
<script src="/javascripts/form.js" defer></script>
<script src="/javascripts/sighting/identification.js" defer></script>
