/* GLOBAL STUFF*/
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

.navbar-brand {
  padding-left: 2%;
  font-size: 3em;
}

.hidden {
    display: none;
}



/* INDEX */

.view-more {
  color: inherit;
  text-decoration: inherit;
}

/* NEW / CREATE */
#sightingSearch {
  width: 20rem;
  height: 2rem;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* SHOW */

#sightingWrapper {
    padding-bottom: 20px;
}
#showTopRow div {
    padding: 0px;
}

#showBox.offline {
    width:60%;
}
#sightingData {
    padding: 5px;
    margin: 0px;
    width: 100%;
}
.showGroup {
    border-style: solid;
    border-color: #c4c4c4;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
}
.showTitle {
    font-weight: bold;
    font-size: 1.3em;
    padding: 2px 6px 6px;
    border-bottom: solid;
    border-color: #c4c4c4;
    background-color: #ececec;
}
.showField {
    padding: 6px;
}

#showImage img{
    object-fit: cover;
    width: 100%;
    height:auto;
}
.showImageGroup {
    width: 100%
}

/* DBPEDIA Data*/
#DBPDescription{
    overflow : auto;
    max-height: 300px;
    background-color: #ffffff;

    /* only specifying border-bottom has its colour overridden to black for no reason */
    border-color: #c4c4c4;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;
    margin-top: 10px;
}
#DBPediaData {
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 10px;
    background-color: #efefef;
    margin-bottom: 20px;
}


/* CHAT */
#chat{
    border-style: solid;
    border-color: #98bed7;
    border-radius: 10px;
    background-color: #dedede;
    padding: 0px;
    margin-bottom: 10px;
}
#chatTitle h3{
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;

}
#chatForm {
    border-radius: 10px;
    background-color: #c4c4c4;
    padding: 8px;
    margin: 5px;
    display: inline-block;
}

#chatHistory {
    max-height: 300px;
    overflow: auto;
    border-top: 3px #98bed7 solid;
    border-bottom: 3px #98bed7 solid;
    padding: 5px;
    background-color: #ffffff;
}
