body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  padding-left: 2%;
  font-size: 3em;
}

.view-more {
  color: inherit;
  text-decoration: inherit;
}

#sightingSearch {
  width: 20rem;
  height: 2rem;
}

.hidden {
    display: none;
}

#chatHistory {
    max-height: 300px;
    overflow: auto;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.fieldTitle {
  font-size: 1.5em;
  padding-top: 10px;
  text-decoration: underline;
}
#showBox {
  max-height: 60%;
}
.flex-container {
  display: flex;
  max-height: 60%;
}
.flex-left {
  flex: 0 1 50%;
}
.flex-right {
  flex: 0 1 50%;
}

#DBPDescription{
    overflow : auto;
    max-height: 300px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
